/*Phần này là tự chế*/
@media screen and (max-width: 415px){  /*Xoay doc*/

    .header .bars {
        display: block;
    }

    .header > label {
        position: unset;
        line-height: 30px;
    }

    .header.js-header {
        width: 99.5%;
    }

    .header input:first-child:checked ~ .navigation .content .logo, 
    .header input:first-child:checked ~ .navigation label {
        visibility: hidden;
    }

    .search button {
        right: 22%;
    }

    .header .search input {
        width: 100%;
        right: 50%;
        animation: input ease 0.4s;
    }

    @keyframes input {
        from {
            opacity: 0;
            right: -30%;
        }
        to {
            opacity: 1;
            right: 50%;
        }
    }

    .navigation .content {
        flex-direction: column;
        margin: 0 auto;
    }
    .navigation .content > ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 101%;
        height: 100vh;
        left: -30vw;
        padding: 0px 20px 0px 52px;
        animation: moving ease 0.4s;
    }

    @keyframes moving {
        from {
            opacity: 0;
            left: -100vw;
        }
        to {
            opacity: 1;
            left: -30vw;
        }
    }
    .navigation .nav  > li {
        width: 100%;
        margin: 12px 0px;
    }

    .navigation ul li a {
        display: block;
    }

    .navigation .navi-child {
        left: 32px;
    }

    .slider-contain .slider .text-slider img {
        width: 100vw;
    }

    .slider-contain .slider .text-slider p {
        display: none;
    }

    .all-content .match .detail {
        flex-direction: column;
    }

    .all-content .match .detail p {
        display: none;
    }

    .all-content .match:first-child {
        margin-top: 40px;
    }

    .all-content .match p:last-child span {
        margin-left: 5px;
    }
    .all-content .title p { 
        font-size: 23px;
    }
    .all-content .title img {
        width: 15%;
    }

    .match p:first-child {
        font-size: 20px;
    }

    .match .detail .team1 h2 {
        font-size: 24px;
        margin-left: 12px;
        width: 50%;
    }

    .match .detail .team1 {
        flex-direction: row-reverse;
    }

    .list-member {
        flex-direction: column;
    }

    .list-member .member {
        width: 100%;
    }

    .list-uniform-1,
    .list-uniform-2 {
        flex-direction: column;
    }

    .list-uniform-1 .uniform-member,
    .list-uniform-2 .uniform-member {
        box-sizing: border-box;
        width: 100%;
        padding: 0px 15px;
        margin-bottom: 20px;
    }
    .loca-form {
        flex-direction: column;
    }
    .loca-form .location iframe {
        margin-bottom: 20px;
    }
    .loca-form .form,
    .loca-form .location {
        width: 100%;
    }

    .custom .team {
        flex-direction: column;
    }

    .group-image {
        margin-top: 20px;
    }
    .custom p:first-child {
        font-size: 20px;
    }
    .footer {
        flex-direction: column;
    }
    .footer .contact {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
    }
    .footer .child-contact {
        width: 100%;
        justify-content: center;
    }
    .footer .contact-rate {
        flex-direction: column;
        margin-top: 60px;
    }
}

@media screen and (min-width: 416px) and (max-width: 813px) /*Xoay ngang*/
and (max-height: 415px) {
    
}