@media screen and (min-width: 740px) and (max-width: 1025px) 
and (min-height: 415px) {
    .header.js-header {
        width: 99.75%;
    }
    .header .bars {
        display: block;
    }
    .header > label {
        position: unset;
        line-height: 30px;
    }
    .header .search {
        z-index: -1;
    }
    .navigation .content {
        flex-direction: column;
        margin: 0 auto;
    }
    .navigation .content > ul {
        flex-direction: column;
        padding-right: 15px;
        position: absolute;
        top: 101%;
        height: 100vh;
        width: 200%;
        left: -45vw;
        animation: moving ease 0.4s;
        display: none;
    }

    @keyframes moving {
        from {
            opacity: 0;
            left: -100vw;
        }
        to {
            opacity: 1;
            left: -45vw;
        }
    }
    .header input:first-child:checked ~ .navigation .content .logo{
        visibility: hidden;
    }
    .header input:first-child:checked ~ .search {
        z-index: 1;
    }
    .header .search input {
        width: 50%;
        right: 30%;
        animation: input ease 0.4s;
    }

    @keyframes input {
        from {
            opacity: 0;
            right: -50%;
        }
        to {
            opacity: 1;
            right: 30%;
        }
    }
   
    .navigation  .nav  > li {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding-left: 20%;
    }
    .navigation .nav > li > a {
        display: block;
        margin-top: 10px;
    }
    .navigation .navi-child {
        left: 25%;
    }
    .search button {
        right: 13%;
    }
    .slider-contain .slider .text-slider p {
        font-size: 10px;
    }
    .loca-form .form p {
        font-size: 18px;
    }
    .team img {
        width: 55%;
    }
    .map {
        overflow: hidden;
    }
    
    .map img {
        width: 150%;
        /* filter: grayscale(50%); */
    }
    

}
    